# Virtualenv
venv/
env/
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/
static/

# Environment variables. Not needed
.env
*.env

# IDEs
.vscode/
.idea/

# Frontend (if applicable)
node_modules/

# Coverage reports
htmlcov/
.coverage
*.cover
